/* line 1, ../../../app/stylesheets/_base.scss */
body {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

/* line 8, ../../../app/stylesheets/_base.scss */
body, p, ol, ul, td {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 14, ../../../app/stylesheets/_base.scss */
a {
  color: black;
}

/* line 15, ../../../app/stylesheets/_base.scss */
a:visited {
  color: black;
}

/* line 16, ../../../app/stylesheets/_base.scss */
a:hover {
  color: black;
}

/* line 18, ../../../app/stylesheets/_base.scss */
a.image {
  text-decoration: none;
}

/* line 22, ../../../app/stylesheets/_base.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 26, ../../../app/stylesheets/_base.scss */
#notice {
  color: green;
}

/* line 30, ../../../app/stylesheets/_base.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 36, ../../../app/stylesheets/_base.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

/* line 45, ../../../app/stylesheets/_base.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

/* line 56, ../../../app/stylesheets/_base.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 1, ../../../app/stylesheets/_header.scss */
#header {
  -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.9);
  -o-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.9);
  background-color: #c52f24;
  color: white;
  width: 100%;
  margin: 0;
  padding: 5px 10px;
}
/* line 8, ../../../app/stylesheets/_header.scss */
#header h1 {
  font-size: 52px;
  margin: 20px 0;
}
/* line 12, ../../../app/stylesheets/_header.scss */
#header h2 {
  font-family: Times New Roman, Serif;
  font-style: italic;
}
