.note= t("datasets.note.#{@dataset.service.type}")
%table.datatable.display
  %thead
    %tr
      - @dataset.attributes.each do |attribute|
        %th= attribute
  %tbody
    - @records.each do |row|
      %tr
        - @dataset.attributes.each do |attribute|
          %td= @dataset.attribute_value(row,attribute)
=insert_record_limit_note
