#container {
  background-color: $c_bg_content;
  color: $c_text_content;
  > .wrapper {
    padding: 20px 0;
    width: $d_w_content;
    margin: 0 auto;
  }
}

.info, .note, .code {
  background: url("/images/tab_note.gif") no-repeat scroll left top #FFF9D8;
  border: medium none;
  margin: 0.25em 0 1.5em;
  padding: 1em 1em 1em 48px;
}
.warning {
  background: url("/images/tab_red.gif") no-repeat scroll left top #F9D9D8;
  border: medium none;
  margin: 15px 0 15px 0;
  padding: 1.25em 1.25em 1.25em 48px;
}
.info {
  background: url("/images/tab_info.gif") no-repeat scroll left top #D5E9F6;
}
.code {
  background: url("/images/tab_grey.gif") no-repeat scroll left top #EEEEEE;
  code {
  	line-height: 18px;
  	overflow: auto;
  	overflow-Y: hidden;  /*--Hides vertical scroll created by IE--*/
  	margin: 0;
  	padding: 10px;
  	display: block;
  	background: $c_bg_code;
  	color: $c_text_code;
  	font-size: 12px;
  	font-family: monaco, 'courier new';
  	text-align: left;
  }
}

dl.attributes {
  border: 1px solid #CECECE;
  @include border-radius(8px);
  dt {
    color: #666666;
    font-weight: bold;
    height: 36px;
    margin: 5px 5px -4em;
    padding: 5px;
  }
  dd {
    background-color: #AAAAAA;
    margin: 5px 5px 5px 160px;
    overflow: hidden;
    padding: 5px 10px;
    height: 18px;
    text-align: left;
    vertical-align: baseline;
  }
}
