#header {
  @include single-box-shadow(rgba(0,0,0,.9), 0px, 5px, 5px);
  background-color: $c_bg_header;
  color: $c_text_header;
  width: 100%;
  margin: 0;
  padding: 5px 0;
  h1 {
    font-size: 52px;
    line-height: 52px;
    margin: 20px 20px 0;
    padding: 0;
  }
  h2 {
    font-family: $f_with_style;
    font-style: italic;
    font-weight: normal;
    margin: 0 20px 15px;
    padding: 0;
  }
}
ul#nav {
  clear: right;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  height: 26px;
  text-align: center;
  width: $d_w_content;
  li {
    @include border-radius(10px);
    float: left;
    width: 100px;
    height: 20px;
    margin-right: 5px;
    padding: 3px 13px;
    background-color: $c_bg_nav;
    color: $c_text_nav;
    xcursor: pointer; cursor: hand;
    a, a:visited {
      color: $c_text_nav;
      text-decoration: none;
    }
  }
  li:hover, li.selected {
    background-color: $c_bg_nav_sel;
    color: $c_text_nav_sel;
    a, a:visited {
      color: $c_text_nav_sel;
      text-decoration: none;
    }
  }
}