$f_face: arial, helvetica, sans-serif;
$f_with_style: Times New Roman, Serif;

$c_bg: #CCC;
$c_bg_content: #FFF;
$c_bg_header: #C52F24;
$c_bg_footer: #CCC;
$c_bg_code: #111;
$c_bg_example_result: rgba(255,242,185,0.6);

$c_text: #000;
$c_text_content: $c_text;
$c_text_header: #FFF;
$c_text_footer: #000;
$c_text_code: #FFF;

$c_bg_nav: #C5AFA4;
$c_text_nav: #444444;
$c_bg_nav_sel: #F53F34;
$c_text_nav_sel: #FFFFFF;

$d_wm_page: 980px;
$d_w_content: 800px;
