%h2= t('.title')

%p
  RGovData is a ruby library for really simple access to government data.
  It aims to make consuming government data sets a "one liner",
  letting you focus on what you are trying to achieve with the data, and happily
  ignore all the messy underlying details of transport protocols, authentication and so on.

.note
  RGovData can be used as a command line tool, a library for ruby projects,
  or a library for rails projects.

