#header
  .ident
    %h1 RGovData
    %h2= t('site.slogan')
  .nav
    %ul#nav
      %li= link_to "About", root_url
      %li Getting Started
      %li= link_to "Live Explorer", realms_url
      %li Documentation