!!! 5
%html
  %head
    = render :partial => 'common/head'
  %body
    #container
      = render :partial => 'common/header'
      .wrapper#scroller
        #content
          .wrapper
            = yield

    = render :partial => 'common/footer'
